<details {% if include.open %}open{% endif %}>
  <summary class="bf">{{ include.title }} ({{ include.data.size }})</summary>
  <ul>
    {%- assign rl = include.rl -%}
    {% for item in include.data %}
    <li>
        {%- assign format = item['Formato'] -%}
        {%- assign artist = item['Artista'] -%}
        {%- assign country = item['País'] | remove: '-' | default: nil -%}
        {%- assign album = item['Album'] -%}
        {%- assign year = item['Año'] | plus: 0 -%}
        {%- assign label = item['Label'] | remove: '?' -%}
        {%- assign mxn = item['MXN'] -%}
        {%- assign usd = item['USD'] -%}
        {%- assign qty = item['Qty'] | plus: 0 -%}

        <span>{{- artist -}}
        {%- if country %} ({{ country }}){%- endif -%}
        </span>{{- ' - ' -}}
        <span>{{- album -}}
        {%- if year > 0 %} ({{ year }}){%- endif -%}
        </span>

        <br>

        {%- if rl -%}
        <span class="sf lt">{{- format -}}</span>
        {%- else -%}
          {%- if label != empty -%}
          <span class="sf lt">{{- label -}}</span>
          {%- endif -%}
        {%- endif -%}
        {{- ' - ' -}}
        <span class="sf lt">{{ mxn }}MXN {{ usd }}USD</span>
        {%- if qty == 1 -%}
          {{- ' - ' -}}<span class="sf last-copy">LAST COPY</span>
        {% else %}
          {{- ' - ' -}}<span class="sf lt">{{ qty }} COPIES</span>
        {%- endif -%}
    </li>{% endfor %}
  </ul>
</details>
