<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }} - {{site.description}}</title>
  <meta name="language" content="en" />
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1" />
  <link rel="stylesheet" href="assets/css/{{ page.name | replace: 'html', 'css' }}?{{ site.time | date: '%s%N'}}">
</head>
<body>
  <header>
    <h1>
      <a class="header-link" href="{{ site.baseurl }}/">
        <img class="header-link-image" src="{{ site.baseurl }}assets/images/global/logo.jpg" alt="Primitivum Productions Logo">
      </a>
    </h1>
    <nav class="bf">
      <ul>
        {%- for link in site.data.nav["main"] %}
        <li class="{% if link.url == page.url %}active{% endif %}">
          <a href="{{ site.baseurl }}{{ link.url }}" title="{{ link.title }}">{{ link.text }}</a>
        </li>
        {%- endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer class="bf">&Omega;</footer>
</body>
</html>
